# local package
-e .
src/guided-diffusion

# external requirements
black


accelerate
diffusers
matplotlib
numpy
lightning
lmdb
scikit-learn
torch>=2.0.0
torchvision
torchmetrics
transformers
tqdm
wandb
xformers